/*
	Name: Jaden Torralba
	File: Index.html
	Date: 20 October 2023
	This is a cool box made using CSS.
	*/

/* Your CSS below here */
html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div {
  text-decoration: underline;
  width: 200px;
  margin: auto;
  font: sans-serif;
  line-height: 9;
  /* text */
  font-size: 1.125rem;
  /* Since the default font size is 16px within CSS, I found a way converted it to 1.1rem through a converter from px to rem. 
  I resized the font to 1.125rem, or 18px, as part of the instructions. */
  text-align: center;
  color: white;
  /*text decorations*/
  text-shadow: 1px 1px 1px black;
  
  /*border radius*/
  border-radius: 20px;
  border: 1px red;
  
  /* background */
  background-color: orangered;
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
      
  /* box shadow */
  box-shadow: 
  inset 2px 2px 3px rgba(255, 255, 255, 0.6),
  inset -2px -2px 3px rgba(0, 0, 0, 0.6), 2px 2px 5px black;
}